* {
    text-align: center;
}

.contactForm {
    background-color: #c06c4d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 15.8%;
    border-color: black;
    border-style: solid;
    width: 40%;
    padding-top: 0.5rem;
}

.submit-btn, .name-input, .email-input, .msg-input {
    color: black;
}

.hidden-txt {
    display: block;
    color: transparent;
    padding-bottom: 0;
    margin-bottom: 0;
}

.submit-btn {
    margin-bottom: 1rem;
}

.name-textbox, .email-textbox, .msg-textbox {
    padding-left: 0;
    padding-right: 0;
    width: 50%;
}