* {
    text-align: center;
}

.contactForm {
    background-color: #8B4F39;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-color: black;
    border-style: solid;
    width: 25%
    
}