.opening-paragraph {
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
}

.list-of-langs {
    text-align: center;
    align-self: left;
    list-style: none;
    padding-top: .5rem;
    padding-left: 0;
    padding-right: 0;
}

h2 {
    text-align: center;
    margin: 0;
    padding: 0;
}

img {
    border-radius: 50%;
    height: 100%;
    width: 20%;
}

.totalContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
    gap: 0rem;
}