* {
  color: rgb(217, 195, 158);
}

.opening-paragraph {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 6rem;
    padding-right: 6rem;
    z-index: 3;
}

.list-of-langs {
    list-style: none;
    padding-right: 3rem;
    z-index: 3;
}

h2 {
    text-align: center;
    margin: 0;
    padding: 0;
    text-decoration: underline;
    z-index: 3;
}

img {
    border-radius: 50%;
    height: 100%;
    width: 20%;
    padding-top: .5rem;
    z-index: 3;
}
