.opening-paragraph {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 6rem;
    padding-right: 6rem;
    z-index: 3;
}

.list-of-langs {
    list-style: none;
    padding-right: 3rem;
    z-index: 3;
}

h2 {
    text-align: center;
    margin: 0;
    padding: 0;
    text-decoration: underline;
    z-index: 3;
}

img {
    border-radius: 50%;
    height: 100%;
    width: 20%;
    padding-top: .5rem;
    z-index: 3;
}


.ocean {
    height: 10%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #6b5da4;
    z-index: -1;
  }
  
  .wave {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/756881/wavePurple.svg) repeat-x;
    position: absolute;
    bottom: -10px;
    width: 6400px;
    height: 198px;
    animation: wave 12s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite, swell 8s ease -1.25s infinite;;
    transform: translate3d(0, 0, 0);
    z-index: -1;
  }
  
  
  
  @keyframes wave {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: -1600px;
    }
  }
  @keyframes swell {
    0%,
    100% {
      transform: translate3d(0, -40px, 0);
    }
    50% {
      transform: translate3d(0, -10px, 0);
    }
  }
  .endWave{
    display:none;
  }

