.project-page {
    color: rgb(217, 195, 158);
}

.cube-animation-proj {
    display: flex;
    justify-content: space-evenly;
}

.cube-animation-info {
    background-color: #333;
    border-color: black;
    border-style: solid;
    border-radius: 20%;
    width: 30%;
}