:root {
  --main-bg-color: #fff;
  --main-text-color: #000;
}

.light-mode {
  background-color: var(--navbar-bg-color);
  color: var(--navbar-text-color);
}
/* need to fiddle with ^ and v to match dark mode and set for navbar to be opposite of body */

.dark-mode {
  --main-bg-color: #333;;
  --main-text-color: rgb(255, 253, 253);

}

