
:root {
  --main-bg-color: #fff;
  --main-text-color: #000;
}

.light-mode {
  background-color: var(--navbar-bg-color);
  color: var(--navbar-text-color);
}


.dark-mode {
  --main-bg-color: #333;;
  --main-text-color: rgb(255, 253, 253);

}

