* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

nav {
    background-color: var(--navbar-bg-color);
    color: var(--navbar-text-color);
    display: flex;
    justify-content: space-between;
    align-items:stretch;
    gap: 2rem;
    padding: 1rem;
}
  
  
.dark-mode {
--navbar-bg-color: #333;
--navbar-text-color: #fff;
}

.darkModeBtn {
    background-color: #f0f0f0 ;
    border-color: black;
    border-style: solid;
    text-align: center;
    text-decoration: none;
    font-size: small;
}

.darkModeBtn:hover {
    text-decoration: underline;
    background-color: #bcbcbc;
}

.site-title {
    font-size: 2rem;
    text-align: center;
    margin: 0;
    padding-left: 3rem;

}

.site-title:hover {
    text-decoration: underline;
}

nav ul {
    padding: 0rem;
    margin: 0rem;
    list-style: none;
    display: flex;
    gap: 1rem;
}

nav a{
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
}

nav li:hover {
    text-decoration: underline;
}